@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@500&family=Work+Sans:wght@300&display=swap');
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #ffffff;
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: white;
    border-bottom: 3px solid #26282c;
}

.sidebar__title {
    color: rgb(248, 147, 15);
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    font-family: "Fjalla One";
}

.sidebar__title::before {
    content: '</';
    color: black;
}

.sidebar__title::after {
    content: '>';
    color: black;
}


.sidebar__channels {
    flex: 1;
}

.sidebar__addChannel {
    cursor: pointer;
}

.sidebar__addChannel:hover {
    color: rgb(2, 2, 2);
}

.sidebar__channelsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    color: gray;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #ffffff;
    padding: 10px;
    border-top: 1px solid gray;
}

.sidebar__profileInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__profileInfo>h3 {
    color: rgb(0, 0, 0);
}

.sidebar__profileIcons>.MuiSvgIcon-root {
    padding: 10px;
}

.sidebar__channel {
    background-color: white;
}